.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.75rem;
  & p {
    font-size: 0.875rem;
    font-family: var(--open-sans);
  }
}
.checkbox-inner {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  & .slider {
    position: absolute;
    cursor: pointer;
    top: -2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--input-stroke);
    /* border: 1px solid var(--input-placeholder); */
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  & .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--input-placeholder);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  & input:checked + .slider {
    background-color: var(--brand-light);
  }

  & input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  & input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(30px);
    background-color: var(--text-heading);
  }

  & .slider.round {
    border-radius: 34px;
  }

  & .slider.round:before {
    border-radius: 50%;
  }

  & p {
    font-size: 0.875rem;
    font-family: var(--open-sans);
  }
}

/* Container do grupo de checkboxes */
.checkbox-group {
  display: flex;
  flex-direction: column; /* Organiza os itens em coluna */
  gap: 1rem; /* Espaçamento entre os checkboxes */
  border: none; /* Remove a borda padrão do fieldset */
  padding-top: 40px;
  margin: 0;
  border-top: 1px solid var(--input-placeholder);
  font-size: 14px;
  font-weight: 400;
  font-family: var(--open-sans);
}

/* Estilo para cada linha/label do checkbox */
.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--text-body);
  cursor: pointer;

  /* 1. ESCONDENDO O CHECKBOX ORIGINAL DE FORMA ACESSÍVEL */
  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* 2. CRIANDO O NOSSO CHECKBOX CUSTOMIZADO (A CAIXINHA) */
  & .checkmark {
    display: block;
    height: 20px;
    width: 20px;
    min-width: 20px; /* Garante que não encolha */
    background-color: transparent;
    border: 2px solid var(--input-stroke); /* Borda cinza padrão */
    border-radius: 4px;
    transition: all 0.2s ease; /* Transição suave */
  }

  /* 3. MUDANDO O ESTILO QUANDO O CHECKBOX ESTÁ MARCADO */
  & input[type="checkbox"]:checked + .checkmark {
    background-color: var(--brand-light);
    border-color: var(--brand-light);
    background-image: url(../../assets/icones/check_cheche.svg);
    background-repeat: no-repeat;
    background-position: center;

    & a:hover {
      text-decoration: underline;
    }
  }
}
