.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.75rem;
  & p {
    font-size: 0.875rem;
    font-family: var(--open-sans);
  }
}
.checkbox-inner {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  & .slider {
    position: absolute;
    cursor: pointer;
    top: -2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--input-stroke);
    /* border: 1px solid var(--input-placeholder); */
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  & .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--input-placeholder);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  & input:checked + .slider {
    background-color: var(--brand-light);
  }

  & input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  & input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(30px);
    background-color: var(--text-heading);
  }

  & .slider.round {
    border-radius: 34px;
  }

  & .slider.round:before {
    border-radius: 50%;
  }

  & p {
    font-size: 0.875rem;
    font-family: var(--open-sans);
  }
}
