label {
  font-size: .75rem;
  font-family: var(--open-sans);
}

input {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  color: var(--input-placeholder);
  font-family: var(--open-sans);
  font-size: 1rem;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  width: 100%;
  height: 8.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  color: var(--input-placeholder);
  font-family: var(--open-sans);
}

.upload-container {
  /* font-family: var(--open-sans); */
  background-color: var(--shape-body);
  color: var(--text-body);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23rem;

  & .input-area {
    display: flex;
    align-items: center;
  }

  & .botao-upload {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem; 

    background-color: var(--shape-button);  
    color: var(--text-heading); 

    padding: 10px 16px;
    border-radius: .5rem;

    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  & .botao-upload:hover {
    background-color: #444c56;
  }

  /* & .botao-upload svg {
    stroke: #adbac7;
  } */

  & .nome-arquivo {
    margin-left: 16px;
    font-size: 14px;
    font-family: var(--open-sans);
    color: var(--input-placeholder);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* input[type="file"] {
  border: none;
  background-color: var(--shape-body);
  
  &::file-selector-button {
    all: unset;
    width: 7.43rem;
    height: 2.5rem;
    border-radius: .5rem ;
    background-color: var(--shape-button);
    color: var(--input-placeholder);
    cursor: pointer;
    text-align: center;
  }
} */

/* 
input[type="color"] {
  all: unset;

  width: 2.5rem;
  height: 2.5rem;
  padding: 0px;
  border-radius: 50%;
  border: none;
  outline: 4px solid var(--shape-button);
  background-color: transparent;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none; 
  border-radius: 50%; 
} */
