form {
  width: 35rem;
  gap: 3rem;

  & fieldset {
    border: none;
    gap: 1rem;
    font-size: 18px;
    font-weight: bold;

    & legend {
      display: flex;
      align-items: center;
      color: var(--text-heading);
      gap: 0.75rem;
      justify-content: center;
      margin-bottom: 1.5rem;
    }

    & img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  & .convite {
    display: flex;
    flex-direction: column;
  }
}
.wrapeer{
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.wrapeer-2-coll{
  display: grid;
  grid-template-columns: auto 16.8rem;
  gap: 1rem;
}
