form {
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  & fieldset {
    border: none;
    gap: 1rem;
    font-size: 18px;
    font-weight: bold;

    & legend {
      display: flex;
      align-items: center;
      color: var(--text-heading);
      gap: 0.75rem;
      justify-content: center;
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
      font-family: var(--baloo-2);
    }

    & img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  & .convite {
    display: flex;
    flex-direction: column;
  }

  & .personlizacao {
    width: 35rem;
    /* height: 35.625rem; */
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
  }

  & .contato{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .checkbox-termos{
    display: flex;
    flex-direction: column;
    gap: 3rem;

  }

}
.wrapeer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.wrapeer-rows {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.wrapeer-2-coll {
  display: grid;
  grid-template-columns: auto 16.8rem;
  gap: 1rem;
}

.wrapeer-2-coll-2 {
  display: grid;
  grid-template-columns: auto 23rem;
  height: 4.97rem;
  gap: 1rem;
}

.wrapper-radio-color {
  display: flex;
  justify-content: space-evenly;
}
