:root {
  /* Brand */
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  /* ... outras cores ... */

  /* Feedback */
  --danger: #ff5959;

  /* Input */
  --input-placeholder: #869198;
  --input-stroke: #363b40;
  --input-base: #1C1F21;

  /* Shape */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /* Text */
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /* Fonts (com nomes consistentes) */
  --leckerli-one: "Leckerli One", "cursive";
  --baloo-2: "Baloo 2", sans-serif;
  --open-sans: "Open Sans", sans-serif;

  /* Typography Scale (com line-height corrigido e explícito) */
  --logo: 400 2.5rem/1.25 var(--leckerli-one); 

  --heading-md: 700 1.75rem/1.3 var(--baloo-2);
  --heading-sm: 700 1.125rem/1.3 var(--baloo-2);

  --body-md: 400 1rem/1.5 var(--open-sans);
  --body-sm: 400 0.875rem/1.5 var(--open-sans);
  --body-xs: 400 0.75rem/1.5 var(--open-sans)
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--open-san);
}

body {
  background-color: var(--shape-background);
  display: flex;
  justify-content: center;
  color: var(--text-body);
}



